{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h2>Register</h2><br>
    <form action="{% url 'accounts:register' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Placeholder" id="id" type="text" class="validate" name="id">
                  <label for="id">id</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Placeholder" id="name" type="text" class="validate" name="name">
                  <label for="name">name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="password" type="password" class="validate" name="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="bank_name" type="text" class="validate" name="bank_name">
                  <label for="bank_name">bank name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="bank_account_number" type="text" class="validate" name="bank_account_number">
                  <label for="bank_account_number">bank account number(only integers)</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
              <button class="btn waves-effect waves-light" type="button" name="action" onclick="javascript:window.history.back();">Back
              </button>
            </form>
          </div>
    </form>
</div>
{% endblock %}